<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="donation" th:fragment="donation-list">
	<div class="container">
		<h2 class="user-header m-3"><em>Donation Management</em></h2>
		<table class="table">
			<thead class="primary-color off-white-text">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Date</th>
 					<th scope="col">Amount</th>
 					<th scope="col">Organization</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${gifts.empty}">
					<td>No donations found!</td>
				</tr>
				<tr th:each="gift: ${gifts}">
					<td th:if="${gift.cart.processed} == true"><span th:text="${gift.cart.user.firstName} + ' ' + ${gift.cart.user.lastName}"></span></td>
					<td th:if="${gift.cart.processed} == true"><span th:text="${#dates.format(gift.cart.date, 'MM-dd-yyyy')}"></span></td>
					<td th:if="${gift.cart.processed} == true"><span th:text="'$' + ${#numbers.formatDecimal(gift.cart.total, 0, 'COMMA', 2, 'POINT')}"></span></td>
					<td th:if="${gift.cart.processed} == true"><span th:text="${gift.donationType.typeName}"></span></td>					
				</tr>
			</tbody>
		</table>
	</div>
</div>

</body>
</html>