<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Header</title>
</head>
<body>
<div class="header" th:fragment="header">
<nav class="navbar primary-color off-white-text">
  <span class="navbar-brand mb-0 h1"><em>NGO Donations</em></span>
  <p><em>Welcome <span sec:authentication="principal.firstName"></span> <span sec:authentication="principal.lastName"></span></em></p>
          <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
</nav>
</div>

<div class="menu menu-side-bar" th:fragment="menu-admin">
	<div class="container">
		<br>
		<h2 class="text-center"><em>Menu</em></h2>
		<br>
		<h3><a href="/users"><em>User Management</em></a></h3>
		<h3><a href="/donations"><em>Donation Management</em></a></h3>
		<h3><em>User View</em></h3>
	</div>
</div>

<div class="menu menu-side-bar" th:fragment="menu-user">
	<div class="container">
		<br>
		<h2 class="text-center"><em>Menu</em></h2>
		<br>
		<h3><em>User View</em></h3>
	</div>
</div>

</body>
</html>