<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>NGO Donations</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div th:insert="~{header :: header}"></div>
	<div class="row justify-content-center align-items-center h-100">
		<form class="p-5 secondary-color" th:action="@{/login}" method="post">
			<div class="form-group alert alert-warning" th:if="${param.error}">Invalid Username and/or Password.</div>
			<div class="form-group alert alert-success" th:if="${param.logout}">You have been logged out.</div>
			<div class="form-group">
				<label class="form-control"> User Name : <input class="form-control" type="text" name="username" />
				</label>
			</div>
			<div class="form-group">
				<label class="form-control"> Password: <input class="form-control" type="password" name="password" />
				</label>
			</div>
			<div>
				<input class="btn btn-block primary-color off-white-text" type="submit" value="Sign In" />
			</div>
		</form>
	</div>
</body>
</html>