<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<title>NGO Donations</title>
</head>
<body>

<div th:insert="~{header :: header}"></div>
<div class="row full-height">
	<div class="col-4" th:insert="~{header :: menu-admin}" th:if="${admin == 'true'}">
	</div>
	<div class="col-4" th:insert="~{header :: menu-user}" th:if="${admin == 'false'}">
	</div>
	<div class="col-8" th:insert="~{user :: user-list}" th:if="${admin == 'false' and userList == 'true'}">
	</div>
	<div class="col-8" th:insert="~{user :: admin-list}" th:if="${admin == 'true' and userList == 'true'}">
	</div>
	<div class="col-8" th:insert="~{user :: add-user-form}" th:if="${admin == 'true' and addUserForm == 'true'}">
	</div>
	<div class="col-8" th:insert="~{user :: add-address-form}" th:if="${admin == 'true' and addAddress == 'true'}">
	</div>
	<div class="col-8" th:insert="~{user :: edit-user-form}" th:if="${admin == 'true' and editUser == 'true'}">
	</div>
	<div class="col-8" th:insert="~{user :: edit-address-form}" th:if="${admin == 'true' and editAddress == 'true'}">
	</div>
</div>
</body>
</html>