<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<title>NGO Donations</title>
</head>
<body>

<div th:insert="~{header :: header}"></div>
<div class="row full-height w-100">
	<div class="col-4" th:insert="~{header :: menu-admin}" sec:authorize="hasRole('ROLE_ADMIN')">
	</div>
	<div class="col-4" th:insert="~{header :: menu-user}" sec:authorize="hasRole('ROLE_USER')">
	</div>
	<div class="col-8" th:insert="~{user :: admin-list}" th:if="${userList == 'true'}" sec:authorize="hasRole('ROLE_ADMIN')">
	</div>
	<div class="col-8" th:insert="~{user :: add-user-form}" th:if="${addUserForm == 'true'}" sec:authorize="hasRole('ROLE_ADMIN')">
	</div>
	<div class="col-8" th:insert="~{user :: add-address-form}" th:if="${addAddress == 'true'}" sec:authorize="hasRole('ROLE_ADMIN')">
	</div>
	<div class="col-8" th:insert="~{user :: edit-user-form}" th:if="${editUser == 'true'}" sec:authorize="hasRole('ROLE_ADMIN')">
	</div>
	<div class="col-8" th:insert="~{user :: edit-address-form}" th:if="${editAddress == 'true'}" sec:authorize="hasRole('ROLE_ADMIN')">
	</div>
	<div class="col-8" th:insert="~{donation :: donation-list}" th:if="${donationList == 'true'}" sec:authorize="hasRole('ROLE_ADMIN')">
	</div>
	
	<div class="col-8" th:if="${unauthorized == 'true'}">
		<h1>Unauthorized</h1>
	</div>
</div>
</body>
</html>