<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"><head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<title>NGO Donations</title>
</head>
<body>

<div th:insert="~{header :: header}"></div>
<div class="row full-height w-100">
	<div class="col-4" th:insert="~{header :: menu-admin}" sec:authorize="hasAuthority('ADMIN')">
	</div>
	<div class="col-4" th:insert="~{header :: menu-user}" sec:authorize="hasAuthority('USER')">
	</div>
	<div class="col-8" th:insert="~{user :: admin-list}" th:if="${userList == 'true'}" sec:authorize="hasAuthority('ADMIN')">
	</div>
	<div class="col-8" th:insert="~{user :: add-user-form}" th:if="${addUserForm == 'true'}" sec:authorize="hasAuthority('ADMIN')">
	</div>
	<div class="col-8" th:insert="~{user :: add-address-form}" th:if="${addAddress == 'true'}" sec:authorize="hasAuthority('ADMIN')">
	</div>
	<div class="col-8" th:insert="~{user :: edit-user-form}" th:if="${editUser == 'true'}" sec:authorize="hasAuthority('ADMIN')">
	</div>
	<div class="col-8" th:insert="~{user :: edit-address-form}" th:if="${editAddress == 'true'}" sec:authorize="hasAuthority('ADMIN')">
	</div>
	<div class="col-8" th:insert="~{donation :: donation-list}" th:if="${donationList == 'true'}" sec:authorize="hasAuthority('ADMIN')">
	</div>
	<div class="col-8" th:if="${unauthorized == 'true'}">
		<h1>Unauthorized</h1>
	</div>
	<div class="col-8" th:insert="~{gift :: gift-list}" th:if="${giftView == 'true'}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
	</div>
	<div class="col-8" th:insert="~{gift :: gift-confirm-user}" th:if="${confirmView == 'true'}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
	</div>
	<div class="col-8" th:insert="~{gift :: gift-amount}" th:if="${giftAmount == 'true'}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
	</div>
	<div class="col-8" th:insert="~{gift :: gift-cart}" th:if="${cartView == 'true'}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
	</div>
</div>
</body>
</html>